.blue {
  color: blue;
  text-shadow: 1px 0 rgb(140, 255, 105), 0 1px rgb(140, 255, 105),
    1px 0 rgb(140, 255, 105), 0 -1px rgb(140, 255, 105);
  font-size: xx-large;
  text-align: center;
  margin-top: 50px;
}

.neon {
  color: pink;
  text-shadow: 1px 0 rgb(230, 14, 14), 0 1px rgb(230, 14, 14),
    1px 0 rgb(230, 14, 14), 0 -1px rgb(230, 14, 14);
  font-size: 50px;
  text-align: center;
}
